__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
logs/
runs/
output/
results/
wandb/
figures/
*.pth
*.pt
*.onnx
*.ckpt
*.npz
*.tar
*.tar.gz
*.zip
datasets/
data/
Linemod_preprocessed/
Occlusion_Linemod/
YCB_Video/
MP6D/
